---
- name: Install python3-debian (required for deb822_repository)
  become: true
  ansible.builtin.apt:
    name:
      - python3-debian
      - gpg
    state: present
  when: ansible_distribution in ["Debian"]

- name: Add Cockpit backports repository into sources list
  become: true
  tags:
    - cockpit
    - cockpit_install
  ansible.builtin.deb822_repository:
    name: "{{ ansible_distribution_release }}-backports"
    types: [deb]
    uris: http://deb.debian.org/debian
    suites: "{{ ansible_distribution_release }}-backports"
    components: [main]
    enabled: true
  when: ansible_distribution in ["Debian"]

- name: Ensure Cockpit is installed using default release backports repository
  become: true
  tags:
    - cockpit
    - cockpit_install
  ansible.builtin.apt:
    name: "{{ cockpit_packages }}"
    state: "{{ cockpit_pkg_state }}"
    default_release: "{{ ansible_distribution_release }}-backports"
    update_cache: true
  when: ansible_distribution == "Debian" or (ansible_distribution == "Ubuntu" and "LTS" in ansible_lsb.description)

- name: Ensure Cockpit is installed
  become: true
  tags:
    - cockpit
    - cockpit_install
  ansible.builtin.apt:
    name: "{{ cockpit_packages }}"
    state: "{{ cockpit_pkg_state }}"
    update_cache: true
  when: ansible_distribution == "Ubuntu" and "LTS" not in ansible_lsb.description
