---
- name: Ensure Cockpit plugins are installed using default release backports repository
  become: true
  tags:
    - cockpit
    - cockpit_plugins
  ansible.builtin.apt:
    name: "{{ cockpit_plugins }}"
    state: "{{ cockpit_pkg_state }}"
    default_release: "{{ ansible_distribution_release }}-backports"
    update_cache: true
  when: ansible_distribution == "Debian" or (ansible_distribution == "Ubuntu" and "LTS" in ansible_lsb.description)

- name: Ensure Cockpit plugins are installed
  become: true
  tags:
    - cockpit
    - cockpit_plugins
  ansible.builtin.apt:
    name: "{{ cockpit_plugins }}"
    state: "{{ cockpit_pkg_state }}"
    update_cache: true
  when: ansible_distribution == "Ubuntu" and "LTS" not in ansible_lsb.description
