# {{ ansible_managed }}
# Template path: {{ template_path }}

{% if cockpit_config %}
{% for section, options in cockpit_config.items() %}
[{{ section }}]
{% for key, value in options.items() %}
{{ key }}={{ value }}
{% endfor %}

{% endfor %}
{% endif %}

